.select-dropdown {
    .select-dropdown__control {
        cursor: pointer;
        border-radius: 5px;
    }
    .select-dropdown__dropdown-indicator>div {
        display: inline-block;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #4a4a4a;
    }
    .select-dropdown__placeholder,
    .select-dropdown__single-value {
        font-size: 12px;
    }
}